<!doctype html>
<html lang="en">
    <head>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

        <title>Uke Rock My World</title>
    </head>
  <body>
    <nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Uke Rock My World</a>
    </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
  </body>

<footer>
    <p>Built by Sandeep Preetam</p>
    <p>Bengaluru, 2023</p>
    <p><a href="https://www.linkedin.com/in/sandeeppreetam/">Connect Here!</a></p>
</footer>
</html>